/* so the window resize fires within a frame in IE7 */
html, body {
    height: 100%;
}
.ma1{
    position: absolute;
    left: -10px;

}
.ma12{
    position: absolute;
    top:1px;
    left: 1px;
    width: 90%;
    height: 95%;
}
.ma13{
    background: rgba(0,0,0,0);
    border-width: 0;

}
.ma13:hover{
            background: rgba(0,0,0,0);
}

.zindex1
{
    z-index: 999999;
}

.mobileFrameCursor div * {
    cursor: inherit !important;
}

a {
    color: inherit;
}

p {
    margin: 0px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
}

ul {
    margin:0px;
}

iframe {
    background: #FFFFFF;
}

/* to match IE with C, FF */
input {
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[type=text]::-ms-clear {
    width: 0;
    height: 0;
    display: none;
}

textarea {
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.focused:focus, .selectedFocused:focus {
    outline: none;
}

div.intcases {
    font-family: arial;
    font-size: 12px;
    text-align:left;
    border:1px solid #AAA;
    background:#FFF none repeat scroll 0% 0%;
    z-index:9999;
    visibility:hidden;
    position:absolute;
    padding: 0px;
    border-radius: 3px;
    white-space: nowrap;
}

div.intcaselink {
    cursor: pointer;
    padding: 3px 8px 3px 8px;
    margin: 5px;
    background:#EEE none repeat scroll 0% 0%;
    border:1px solid #AAA;
    border-radius: 3px;
}

div.refpageimage {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url(pages/ma/images/newwindow.gif);
    background-repeat: no-repeat;
}

div.annnoteimage {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 0px;
    /*width: 16px;
    height: 12px;*/
    cursor: help;
    /*background-image: url(images/note.gif);*/
    /*background-repeat: no-repeat;*/
    width: 13px;
    height: 12px;
    padding-top: 1px;
    text-align: center;
    background-color: #138CDD;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;
}

div.annnoteline {
    display: inline-block;
    width: 9px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 1px;
}

div.annnotelabel {
    /*position: absolute;
    left: 0px;
    top: 0px;*/
    font-family: Helvetica,Arial;
    white-space: nowrap;

    padding-top: 1px;
    background-color: #fff849;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 3px;
    padding: 0px 4px;
    color: #000;

    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;
}

div.annnote {
    display: flex;
    position: absolute;
    cursor: help;
    line-height: 14px;
}

.annotation {
    font-size: 12px;
    padding-left: 2px;
    margin-bottom: 5px;
}

.annotationName {
    /*font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
    white-space: nowrap;*/

    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
}

.annotationValue {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    color: #4a4a4a;
    line-height: 21px;
    margin-bottom: 20px;
}

.noteLink {
    text-decoration: inherit;
    color: inherit;
}

.noteLink:hover {
    background-color: white;
}

/* this is a fix for the issue where dialogs jump around and takes the text-align from the body */
.dialogFix {
    position:absolute;
    text-align:left;
    border: 1px solid #8f949a;
}


@keyframes pulsate {
    from {
        box-shadow: 0 0 10px #15d6ba;
    }
    to {
        box-shadow: 0 0 20px #15d6ba;
    }
}

@-webkit-keyframes pulsate {
    from {
        -webkit-box-shadow: 0 0 10px #15d6ba;
        box-shadow: 0 0 10px #15d6ba;
    }
    to {
        -webkit-box-shadow: 0 0 20px #15d6ba;
        box-shadow: 0 0 20px #15d6ba;
    }
}

@-moz-keyframes pulsate {
    from {
        -moz-box-shadow: 0 0 10px #15d6ba;
        box-shadow: 0 0 10px #15d6ba;
    }
    to {
        -moz-box-shadow: 0 0 20px #15d6ba;
        box-shadow: 0 0 20px #15d6ba;
    }
}

.legacyPulsateBorder {
    /*border: 5px solid #15d6ba;
    margin: -5px;*/
    -moz-box-shadow: 0 0 10px 3px #15d6ba;
    box-shadow: 0 0 10px 3px #15d6ba;
}

.pulsateBorder {
    animation-name: pulsate;
    animation-timing-function: ease-in-out;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    -webkit-animation-name: pulsate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    -moz-animation-name: pulsate;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: 0.9s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}

.ax_default_hidden, .ax_default_unplaced{
    display: none;
    visibility: hidden;
}

.widgetNoteSelected {
    -moz-box-shadow: 0 0 10px 3px #138CDD;
    box-shadow: 0 0 10px 3px #138CDD;
    /*-moz-box-shadow: 0 0 20px #3915d6;
    box-shadow: 0 0 20px #3915d6;*/
    /*border: 3px solid #3915d6;*/
    /*margin: -3px;*/
}


.singleImg {
    display: none;
    visibility: hidden;
}

#ios-safari {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#ios-safari-html {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#ios-safari-fixed {
    position: absolute;
    pointer-events: none;
    width: initial;
}

#ios-safari-fixed div {
    pointer-events: auto;
}
.ax_default {
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#333333;
    vertical-align:initial;
    text-align:center;
    line-height:normal;
    text-transform:none;
}
.box_1 {
}
.ellipse {
}
._图片 {
}
.button {
}
._一级标题 {
    font-family:'Arial Normal', 'Arial';
    font-weight:bold;
    font-style:normal;
    font-size:32px;
    text-align:left;
}
._二级标题 {
    font-family:'Arial Normal', 'Arial';
    font-weight:bold;
    font-style:normal;
    font-size:24px;
    text-align:left;
}
._三级标题 {
    font-family:'Arial Normal', 'Arial';
    font-weight:bold;
    font-style:normal;
    font-size:18px;
    text-align:left;
}
._四级标题 {
    font-family:'Arial Normal', 'Arial';
    font-weight:bold;
    font-style:normal;
    font-size:14px;
    text-align:left;
}
._五级标题 {
    font-family:'Arial Normal', 'Arial';
    font-weight:bold;
    font-style:normal;
    text-align:left;
}
._六级标题 {
    font-family:'Arial Normal', 'Arial';
    font-weight:bold;
    font-style:normal;
    font-size:10px;
    text-align:left;
}
.label {
    font-size:14px;
    text-align:left;
}
._文本段落 {
    text-align:left;
}
.form_hint {
    color:#999999;
}
.form_disabled {
}
.line {
}
.text_field {
    color:#000000;
    text-align:left;
}
.checkbox {
    text-align:left;
}
._自由编辑 {
}
.flow_shape {
}
textarea, select, input, button { outline: none; }

body {
    margin:0px;
    background-image:none;
    position:static;
    left:auto;
    width:1110px;
    margin-left:0;
    margin-right:0;
    text-align:left;
}
.form_sketch {
    border-color:transparent;
    background-color:transparent;
}
#base {
    position:absolute;
    z-index:0;
}
#u243_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1100px;
    height:904px;
}
#u243 {
    border-width:0px;
    position:absolute;
    left:10px;
    top:40px;
    width:1100px;
    height:904px;
    display:flex;
}
#u243 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u243_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u244_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:56px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Negreta', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:36px;
    color:#C2001A;
}
#u244 {
    border-width:0px;
    position:absolute;
    left:76px;
    top:60px;
    width:121px;
    height:56px;
    display:flex;
    font-family:'Arial Negreta', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:36px;
    color:#C2001A;
}
#u244 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u244_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u245_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:532px;
    height:43px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:2px;
    border-style:solid;
    border-color:rgba(194, 0, 26, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#FFFFFF;
}
#u245 {
    border-width:0px;
    position:absolute;
    left:265px;
    top:60px;
    width:532px;
    height:43px;
    display:flex;
    color:#FFFFFF;
}
#u245 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u245_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u246_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:43px;
    background:inherit;
    background-color:rgba(194, 0, 26, 1);
    box-sizing:border-box;
    border-width:2px;
    border-style:solid;
    border-color:rgba(194, 0, 26, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'微软雅黑 Bold', '微软雅黑';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    color:#FFFFFF;
}
#u246 {
    border-width:0px;
    position:absolute;
    left:712px;
    top:60px;
    width:83px;
    height:43px;
    display:flex;
    font-family:'微软雅黑 Bold', '微软雅黑';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    color:#FFFFFF;
}
#u246 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u246_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u247_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1100px;
    height:31px;
}
#u247 {
    border-width:0px;
    position:absolute;
    left:10px;
    top:10px;
    width:1100px;
    height:31px;
    display:flex;
}
#u247 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u247_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u248_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:18px;
}
#u248 {
    border-width:0px;
    position:absolute;
    left:28px;
    top:16px;
    width:39px;
    height:18px;
    display:flex;
    font-family:'微软雅黑 Regular', '微软雅黑';
    font-weight:400;
    font-style:normal;
    color:#949494;
}
#u248 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u248_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u249_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:18px;
}
#u249 {
    border-width:0px;
    position:absolute;
    left:70px;
    top:16px;
    width:39px;
    height:18px;
    display:flex;
    font-family:'微软雅黑 Regular', '微软雅黑';
    font-weight:400;
    font-style:normal;
    color:#949494;
}
#u249 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u249_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u250_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:18px;
}
#u250 {
    border-width:0px;
    position:absolute;
    left:840px;
    top:17px;
    width:56px;
    height:18px;
    display:flex;
    font-family:'微软雅黑 Regular', '微软雅黑';
    font-weight:400;
    font-style:normal;
    color:#949494;
}
#u250 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u250_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u251_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:18px;
}
#u251 {
    border-width:0px;
    position:absolute;
    left:897px;
    top:17px;
    width:65px;
    height:18px;
    display:flex;
    font-family:'微软雅黑 Regular', '微软雅黑';
    font-weight:400;
    font-style:normal;
    color:#949494;
}
#u251 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u251_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u252_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:18px;
}
#u252 {
    border-width:0px;
    position:absolute;
    left:968px;
    top:17px;
    width:56px;
    height:18px;
    display:flex;
    font-family:'微软雅黑 Regular', '微软雅黑';
    font-weight:400;
    font-style:normal;
    color:#949494;
}
#u252 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u252_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u253_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:18px;
}
#u253 {
    border-width:0px;
    position:absolute;
    left:1028px;
    top:17px;
    width:72px;
    height:18px;
    display:flex;
    font-family:'微软雅黑 Regular', '微软雅黑';
    font-weight:400;
    font-style:normal;
    color:#949494;
}
#u253 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u253_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u254_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:558px;
    height:45px;
}
#u254 {
    border-width:0px;
    position:absolute;
    left:194px;
    top:886px;
    width:558px;
    height:45px;
    display:flex;
    font-family:'Arial Negreta', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#AEAEAE;
}
#u254 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u254_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u255_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:558px;
    height:45px;
}
#u255 {
    border-width:0px;
    position:absolute;
    left:194px;
    top:834px;
    width:558px;
    height:45px;
    display:flex;
    font-family:'Arial Negreta', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#AEAEAE;
}
#u255 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u255_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u256_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
#u256 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:151px;
    width:143px;
    height:16px;
    display:flex;
    color:#999999;
}
#u256 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u256_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u257_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:44px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#000000;
}
#u257 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:193px;
    width:143px;
    height:44px;
    display:flex;
    font-size:20px;
    color:#000000;
}
#u257 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u257_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u258_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:976px;
    height:2px;
}
#u258 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:230px;
    width:975px;
    height:1px;
    display:flex;
}
#u258 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u258_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u259_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:108px;
}
#u259 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:249px;
    width:215px;
    height:108px;
    display:flex;
}
#u259 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u259_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u260_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:2px;
}
#u260 {
    border-width:0px;
    position:absolute;
    left:71px;
    top:285px;
    width:191px;
    height:1px;
    display:flex;
}
#u260 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u260_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u261_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
#u261 {
    border-width:0px;
    position:absolute;
    left:71px;
    top:258px;
    width:85px;
    height:16px;
    display:flex;
    color:#999999;
}
#u261 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u261_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u262_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:17px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
#u262 {
    border-width:0px;
    position:absolute;
    left:166px;
    top:258px;
    width:85px;
    height:17px;
    display:flex;
    color:#999999;
}
#u262 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u262_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u263_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:17px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
#u263 {
    border-width:0px;
    position:absolute;
    left:71px;
    top:295px;
    width:85px;
    height:17px;
    display:flex;
    color:#999999;
}
#u263 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u263_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u264_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:17px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
#u264 {
    border-width:0px;
    position:absolute;
    left:71px;
    top:322px;
    width:101px;
    height:17px;
    display:flex;
    color:#999999;
}
#u264 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u264_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u265_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:108px;
}
#u265 {
    border-width:0px;
    position:absolute;
    left:309px;
    top:250px;
    width:215px;
    height:108px;
    display:flex;
}
#u265 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u265_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u266_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:24px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#999999;
}
#u266 {
    border-width:0px;
    position:absolute;
    left:320px;
    top:281px;
    width:45px;
    height:24px;
    display:flex;
    font-size:20px;
    color:#999999;
}
#u266 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:80%;
}
#u266_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u267_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:44px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
    color:#000000;
}
#u267 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:399px;
    width:143px;
    height:44px;
    display:flex;
    font-size:20px;
    color:#000000;
}
#u267 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u267_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u268_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:976px;
    height:2px;
}
#u268 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:436px;
    width:975px;
    height:1px;
    display:flex;
}
#u268 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u268_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u269_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:967px;
    height:41px;
}
#u269 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:457px;
    width:967px;
    height:41px;
    display:flex;
}
#u269 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u269_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u270_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:967px;
    height:41px;
}
#u270 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:729px;
    width:967px;
    height:41px;
    display:flex;
}
#u270 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u270_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u271_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:967px;
    height:211px;
}
#u271 {
    border-width:0px;
    position:absolute;
    left:60px;
    top:508px;
    width:967px;
    height:211px;
    display:flex;
}
#u271 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u271_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u272_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u272 {
    border-width:0px;
    position:absolute;
    left:127px;
    top:470px;
    width:56px;
    height:16px;
    display:flex;
}
#u272 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u272_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u273_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:150px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(236, 233, 236, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u273 {
    border-width:0px;
    position:absolute;
    left:83px;
    top:540px;
    width:150px;
    height:150px;
    display:flex;
}
#u273 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u273_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u274_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:125px;
}
#u274 {
    border-width:0px;
    position:absolute;
    left:95px;
    top:553px;
    width:125px;
    height:125px;
    display:flex;
}
#u274 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u274_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
}
#u275_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:245px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u275 {
    border-width:0px;
    position:absolute;
    left:270px;
    top:605px;
    width:245px;
    height:16px;
    display:flex;
}
#u275 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u275_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u276_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u276 {
    border-width:0px;
    position:absolute;
    left:689px;
    top:470px;
    width:28px;
    height:16px;
    display:flex;
}
#u276 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u276_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u277_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u277 {
    border-width:0px;
    position:absolute;
    left:798px;
    top:470px;
    width:28px;
    height:16px;
    display:flex;
}
#u277 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u277_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u278_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u278 {
    border-width:0px;
    position:absolute;
    left:908px;
    top:470px;
    width:28px;
    height:16px;
    display:flex;
}
#u278 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u278_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u279_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:32px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:18px;
    color:#000000;
}
#u279 {
    border-width:0px;
    position:absolute;
    left:671px;
    top:603px;
    width:62px;
    height:32px;
    display:flex;
    font-size:18px;
    color:#000000;
}
#u279 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u279_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u280_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:32px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:18px;
    color:#000000;
}
#u280 {
    border-width:0px;
    position:absolute;
    left:893px;
    top:603px;
    width:62px;
    height:32px;
    display:flex;
    font-size:18px;
    color:#000000;
}
#u280 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u280_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u281_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u281 {
    border-width:0px;
    position:absolute;
    left:791px;
    top:741px;
    width:42px;
    height:16px;
    display:flex;
}
#u281 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u281_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u282_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:32px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:24px;
    color:#C2001A;
}
#u282 {
    border-width:0px;
    position:absolute;
    left:826px;
    top:734px;
    width:79px;
    height:32px;
    display:flex;
    font-size:24px;
    color:#C2001A;
}
#u282 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u282_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u283_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:97px;
    height:37px;
    background:inherit;
    background-color:rgba(194, 0, 26, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
    color:#FFFFFF;
}
#u283 {
    border-width:0px;
    position:absolute;
    left:930px;
    top:729px;
    width:97px;
    height:37px;
    display:flex;
    font-size:16px;
    color:#FFFFFF;
}
#u283 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
}
#u283_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u284_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:21px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:18px;
}
#u284 {
    border-width:0px;
    position:absolute;
    left:807px;
    top:602px;
    width:18px;
    height:21px;
    display:flex;
    font-size:18px;
}
#u284 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u284_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
}
#u285_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:17px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
#u285 {
    border-width:0px;
    position:absolute;
    left:197px;
    top:332px;
    width:40px;
    height:17px;
    display:flex;
    color:#999999;
}
#u285 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u285_text {
    position:absolute;
    left: 20px;
    top: -10px;
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
#u286_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:17px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
#u286 {
    border-width:0px;
    position:absolute;
    left:238px;
    top:332px;
    width:40px;
    height:17px;
    display:flex;
    color:#999999;
}
#u286 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
#u286_text {
    position:absolute;
    left: -10px;
    top: -10px;
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
}
.cart-info table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;

}
.cart-info td {
    background-color: #F4F4F4;
    border: 1px solid #BBBBBB;
    box-shadow: 1px 1px 1px #FFFFFF inset;
    padding:3px;

    padding: 7px;
}
.cart-info td a{
    color:#444;
    line-height:19px;
    text-decoration:none;
    font-weight:bold;
    text-shadow: 0 1px #fff;
    padding:3px;
}


.cart-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F4F4F4;
    border: 1px solid #BBBBBB;
    box-shadow: 1px 1px 1px #FFFFFF inset;
}
.cart-info thead .remove, .cart-info thead .image {
    text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
    text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
    text-align: right;
}
.cart-info tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
    vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
    text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
    text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
    text-align: right;
}
.cart-info tbody span.stock {
    color: #F00;
    font-weight: bold;
}







/* cart */
.cart-info table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;

}
.cart-info td {
    background-color: #F4F4F4;
    border: 1px solid #BBBBBB;
    box-shadow: 1px 1px 1px #FFFFFF inset;
    padding:3px;

    padding: 7px;
}
.cart-info td a{
    color:#444;
    line-height:19px;
    text-decoration:none;
    font-weight:bold;
    text-shadow: 0 1px #fff;
    padding:3px;
}


.cart-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F4F4F4;
    border: 1px solid #BBBBBB;
    box-shadow: 1px 1px 1px #FFFFFF inset;
}
.cart-info thead .remove, .cart-info thead .image {
    text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
    text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
    text-align: right;
}
.cart-info tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
    vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
    text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
    text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
    text-align: right;
}
.cart-info tbody span.stock {
    color: #F00;
    font-weight: bold;
}


